/*
  Based on Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

/* thanks Josh */

:root.dark {
  --bg-color: #1a1a1a;
  --text-color: #f0f0f0;
  --link-color: oklch(0.7500 0.129923 256.405277);
  --link-visited: oklch(0.75 0.1595 304.41);
}

:root.poetry {
  --whitespace-setting: pre-wrap;
}

html {
  font-family: serif;
  margin: auto;
  width: fit-content;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: sans-serif;
}

img {
  min-width: 25%;
  min-height: 25%;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
}

a {
  color: var(--link-color, revert);
}

a:visited {
  color: var(--link-visited, revert);
}

body {
  background-color: var(--bg-color, revert);
  color: var(--text-color, revert);
  display: flex;
  justify-content: center;
  padding: clamp(2px, 16vw - 28px, 32px);
  margin: 0 auto;
  flex-direction: column;
  min-height: 100vh;
  max-width: 40rem;
  gap: 2rem;
}

p {
  white-space: var(--whitespace-setting, revert);
  margin: 1rem 0;
}

nav ul {
  display: flex;
  width: 50rem;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  gap: 1em;
}

nav li {
  display: inline;
}

.heading-anchor {
  text-decoration: none;
  color: inherit;
}

.heading-anchor:visited {
  color: inherit;
}

.heading-anchor::after {
  content: " ⚓️";
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.heading-anchor:hover::after {
  opacity: 1;
}

blockquote {
  width: fit-content;
  max-width: 95%;
  margin: 20px auto;
}

blockquote::before {
  content: "“"
}

blockquote::after {
  content: "”"
}

fieldset {
  border: none;
}
