
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* thanks Josh */

html {
  font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

img {
  min-width:  25%;
  min-height: 25%;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 2rem;
  flex-direction: column;
  max-width: 50rem;
  gap: 2rem;
}

p {
  margin: 1rem 0;
}

nav ul {
  display: flex;
  max-width: 50rem;
  justify-content: space-around;
  padding: 0;
}

nav li {
  display: inline;
}

.heading-anchor{
  text-decoration: none;
  color: inherit;
}

.heading-anchor::after {
  content: " ⚓️";
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.heading-anchor:hover::after {
  opacity: 1;
}
