<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    html{
      display: flex;
      justify-content: center;
      margin: auto;
      max-width: 50rem;
    }
    body{
      line-height: 1.5;
    }
    nav ul{
      display: flex;
      justify-content: space-around;
    }
    nav li{
      display: inline;
    }
    </style>
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>