{{ define "main" }}
  <h1 id="title">{{ .Title }}</h1>
    {{ if isset .Params "date"}}
        {{if (eq .Date.Unix 0)}}
            <h2 id="date">Today</h2>
            <script id="datescript">
                document.getElementById("date").innerHTML
                  = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
                const me = document.getElementById("datescript");
                me.parentElement.removeChild(me);
            </script>
        {{ else }}
            <h2>{{ .Date.Format "January _2, 2006" }}</h2>
        {{end}}
    {{end}}
  <div>
        <article id="article">
           {{ .Content }}
        </article>
  </div>
{{ end }}
