<script type="module">
    "use strict"
    const t0 = Date.now()

    function pole(ring, time) {
        let x = (time + (1 << ring) >> (ring + 1)) % 3
        if (ring % 2 === 1) {
            x = 3 - x
        }
        return (x + 3) % 3
    }

    function accelDecel(t) {
        if (t < .5) {
            return t ** 2 * 2
        } else {
            //[.5,1] -> [0,1] -> [1,0] -squared-> [0,1] [.5,1]
            t = (t - .5) * 2
            t = 1 - t
            t = t ** 2
            t = 1 - t
            return .5 + t / 2
        }
    }

    function lerp(a, b, t) {
        return a + t * (b - a)
    }

    function draw() {
        const n = {{ if .Get "n" }}{{ .Get "n" }}{{ else }}32{{ end }}


        const canvas = document.getElementById("canvas{{ .Ordinal }}")
        const div = document.getElementById("hanoiDiv{{ .Ordinal }}")
        const ctx = canvas.getContext("2d")

        canvas.style.width = `${div.clientWidth}px`
        canvas.style.height = `${div.clientWidth * 9 / 16}px`
        canvas.width = Math.floor(div.clientWidth * window.devicePixelRatio)
        canvas.height = Math.floor(div.clientWidth * window.devicePixelRatio * 9 / 16)

        const width = canvas.width
        const height = canvas.height

        const time = Date.now()
        const seconds = Math.floor(time / 1000)
        const millis = time % 1000

        const dy = height / (n + 2)
        const dx = width / (n + 1 + n) / 3

        ctx.clearRect(0, 0, width, height)
        ctx.translate(0, dy)
        //draw poles
        ctx.fillStyle = "rgb(0,0,0)"
        ctx.fillRect(0, n * dy, width, dy)
        ctx.fillRect(dx*n,0,dx,dy*n)
        ctx.fillRect(dx*(n*3+1),0,dx,dy*n)
        ctx.fillRect(dx*(n*5+2),0,dx,dy*n)

        const discCount = [0, 0, 0]
        let discInMotion = -1
        for (let i = n - 1; i >= 0; i--) {
            const p = pole(i, seconds)
            if (p !== pole(i, seconds + 1)) {
                discInMotion = i
                continue
            }
            const centerX = (p + 0.5) * width / 3
            const discWidth = (2 * i + 3) * dx
            const x = centerX - discWidth / 2
            const y = (n - 1 - discCount[p]) * dy
            discCount[p]++
            ctx.fillRect(x, y, discWidth, dy * .9)
        }
        if (discInMotion === -1) {
            window.requestAnimationFrame(draw)
            return
        }
        const riseAccel = 9.8
        const g = 9.8
        const percentDone = millis/1000
        const startPole = pole(discInMotion, seconds)
        const riseDistance = n - discCount[startPole]
        const riseTime = Math.sqrt(2 * riseDistance / riseAccel) // y = 1/2 a t**2 ==> t = sqrt(2*y/a)
        const riseVelocity = riseAccel * riseTime**2
        const floatTime = riseVelocity * 2 / g // v1 = v0 + a * t && v1 = -v, v0=v ==> t = 2*v/a

        const endPole = pole(discInMotion, seconds + 1)
        const fallDistance = n - discCount[endPole]
        // s = v*t +.5 a t**2
        // 0 = .5a*t**2 + v*t - s
        //t = -v +/- sqrt(v**2 - 4*.5a(-s))/(2*.5*a)
        //  = -v +/- sqrt(v**2 + 2as)/(a)
        // t = (sqrt(v**2 - 2as) - v)/a
        const fallTime = (Math.sqrt(riseVelocity**2 + 2 * g * fallDistance) - riseVelocity)/g

        const totalTime = riseTime + floatTime + fallTime

        const discWidth = (2 * discInMotion + 3) * dx
        let x, y =-dy
        if(percentDone < riseTime/totalTime){
            const centerX = (startPole + .5) * width/3
            x = centerX - discWidth / 2

            const progress = percentDone / (riseTime/totalTime)
            const yIdx = lerp(discCount[startPole], n, progress)
            y = (n - 1 - yIdx) * dy
        } else if (percentDone > (riseTime+floatTime)/totalTime){
            const centerX = (endPole + .5) * width/3
            x = centerX - discWidth / 2

            const progress = (percentDone - (riseTime+floatTime)/totalTime)/(fallTime/totalTime)
            const yIdx = lerp(n, discCount[endPole], progress)
            y = (n - 1 - yIdx) * dy
        } else {
            const progress = (percentDone - riseTime/totalTime)/(floatTime/totalTime)
            // constant acceleration for the first half
            // s(t) = .5 a t**2
            // s(0) = 0; s(.5) = .5
            // .5 = .125 a ==> a = 4
            let p2
            if(progress < .5) {
                p2 = 2 * (progress ** 2)
            } else {
                p2 = 1 - 2 * ((1 - progress) ** 2)
            }
            const centerX = (lerp(startPole,endPole,p2) + .5) * width/3
            x = centerX - discWidth / 2
        }
        // let yIdx
        // const derp = .6
        // if (percentDone < derp) {
        //     yIdx = lerp(discCount[startPole], apex, accelDecel(percentDone / derp))
        // } else {
        //     const pd2 = ((percentDone - derp) / (1 - derp)) ** 2
        //     yIdx = lerp(apex, discCount[endPole], pd2)
        // }
        // const y = (n - 1 - yIdx) * dy
        ctx.fillRect(x, y, discWidth, dy * .9)

        window.requestAnimationFrame(draw)
    }

    window.requestAnimationFrame(draw)
</script>
<div id="hanoiDiv{{ .Ordinal }}" style="width:100%">
    <canvas height="500" id="canvas{{ .Ordinal }}" style="width:100%" width="1000"></canvas>
</div>